=begin
#Hypto IAM

#APIs for Hypto IAM Service.

The version of the OpenAPI document: 1.0.0
Contact: engineering@hypto.in
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module IamRuby
  class PolicyManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a policy
    # Create a policy
    # @param organization_id [String] 
    # @param create_policy_request [CreatePolicyRequest] Payload to create policy
    # @param [Hash] opts the optional parameters
    # @return [Policy]
    def create_policy(organization_id, create_policy_request, opts = {})
      data, _status_code, _headers = create_policy_with_http_info(organization_id, create_policy_request, opts)
      data
    end

    # Create a policy
    # Create a policy
    # @param organization_id [String] 
    # @param create_policy_request [CreatePolicyRequest] Payload to create policy
    # @param [Hash] opts the optional parameters
    # @return [Array<(Policy, Integer, Hash)>] Policy data, response status code and response headers
    def create_policy_with_http_info(organization_id, create_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyManagementApi.create_policy ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling PolicyManagementApi.create_policy"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling PolicyManagementApi.create_policy, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling PolicyManagementApi.create_policy, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_policy_request' is set
      if @api_client.config.client_side_validation && create_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_policy_request' when calling PolicyManagementApi.create_policy"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/policies'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Policy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyManagementApi.create_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyManagementApi#create_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a policy
    # Delete a policy
    # @param organization_id [String] 
    # @param policy_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [BaseSuccessResponse]
    def delete_policy(organization_id, policy_name, opts = {})
      data, _status_code, _headers = delete_policy_with_http_info(organization_id, policy_name, opts)
      data
    end

    # Delete a policy
    # Delete a policy
    # @param organization_id [String] 
    # @param policy_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseSuccessResponse, Integer, Hash)>] BaseSuccessResponse data, response status code and response headers
    def delete_policy_with_http_info(organization_id, policy_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyManagementApi.delete_policy ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling PolicyManagementApi.delete_policy"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling PolicyManagementApi.delete_policy, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling PolicyManagementApi.delete_policy, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'policy_name' is set
      if @api_client.config.client_side_validation && policy_name.nil?
        fail ArgumentError, "Missing the required parameter 'policy_name' when calling PolicyManagementApi.delete_policy"
      end
      if @api_client.config.client_side_validation && policy_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "policy_name" when calling PolicyManagementApi.delete_policy, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && policy_name !~ pattern
        fail ArgumentError, "invalid value for 'policy_name' when calling PolicyManagementApi.delete_policy, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/organizations/{organization_id}/policies/{policy_name}'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'policy_name' + '}', CGI.escape(policy_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BaseSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyManagementApi.delete_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyManagementApi#delete_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a policy
    # Get a policy
    # @param organization_id [String] 
    # @param policy_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Policy]
    def get_policy(organization_id, policy_name, opts = {})
      data, _status_code, _headers = get_policy_with_http_info(organization_id, policy_name, opts)
      data
    end

    # Get a policy
    # Get a policy
    # @param organization_id [String] 
    # @param policy_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Policy, Integer, Hash)>] Policy data, response status code and response headers
    def get_policy_with_http_info(organization_id, policy_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyManagementApi.get_policy ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling PolicyManagementApi.get_policy"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling PolicyManagementApi.get_policy, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling PolicyManagementApi.get_policy, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'policy_name' is set
      if @api_client.config.client_side_validation && policy_name.nil?
        fail ArgumentError, "Missing the required parameter 'policy_name' when calling PolicyManagementApi.get_policy"
      end
      if @api_client.config.client_side_validation && policy_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "policy_name" when calling PolicyManagementApi.get_policy, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && policy_name !~ pattern
        fail ArgumentError, "invalid value for 'policy_name' when calling PolicyManagementApi.get_policy, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/organizations/{organization_id}/policies/{policy_name}'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'policy_name' + '}', CGI.escape(policy_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Policy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyManagementApi.get_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyManagementApi#get_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List policies
    # List policies
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_token 
    # @option opts [String] :page_size 
    # @option opts [String] :sort_order 
    # @return [PolicyPaginatedResponse]
    def list_policies(organization_id, opts = {})
      data, _status_code, _headers = list_policies_with_http_info(organization_id, opts)
      data
    end

    # List policies
    # List policies
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_token 
    # @option opts [String] :page_size 
    # @option opts [String] :sort_order 
    # @return [Array<(PolicyPaginatedResponse, Integer, Hash)>] PolicyPaginatedResponse data, response status code and response headers
    def list_policies_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyManagementApi.list_policies ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling PolicyManagementApi.list_policies"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling PolicyManagementApi.list_policies, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling PolicyManagementApi.list_policies, must conform to the pattern #{pattern}."
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/policies'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'nextToken'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyManagementApi.list_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyManagementApi#list_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a policy
    # Update a policy
    # @param organization_id [String] 
    # @param policy_name [String] 
    # @param update_policy_request [UpdatePolicyRequest] Payload to update policy
    # @param [Hash] opts the optional parameters
    # @return [Policy]
    def update_policy(organization_id, policy_name, update_policy_request, opts = {})
      data, _status_code, _headers = update_policy_with_http_info(organization_id, policy_name, update_policy_request, opts)
      data
    end

    # Update a policy
    # Update a policy
    # @param organization_id [String] 
    # @param policy_name [String] 
    # @param update_policy_request [UpdatePolicyRequest] Payload to update policy
    # @param [Hash] opts the optional parameters
    # @return [Array<(Policy, Integer, Hash)>] Policy data, response status code and response headers
    def update_policy_with_http_info(organization_id, policy_name, update_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PolicyManagementApi.update_policy ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling PolicyManagementApi.update_policy"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling PolicyManagementApi.update_policy, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling PolicyManagementApi.update_policy, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'policy_name' is set
      if @api_client.config.client_side_validation && policy_name.nil?
        fail ArgumentError, "Missing the required parameter 'policy_name' when calling PolicyManagementApi.update_policy"
      end
      if @api_client.config.client_side_validation && policy_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "policy_name" when calling PolicyManagementApi.update_policy, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && policy_name !~ pattern
        fail ArgumentError, "invalid value for 'policy_name' when calling PolicyManagementApi.update_policy, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_policy_request' is set
      if @api_client.config.client_side_validation && update_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_policy_request' when calling PolicyManagementApi.update_policy"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/policies/{policy_name}'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'policy_name' + '}', CGI.escape(policy_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Policy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PolicyManagementApi.update_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PolicyManagementApi#update_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
