=begin
#Hypto IAM

#APIs for Hypto IAM Service.

The version of the OpenAPI document: 1.0.0
Contact: engineering@hypto.in
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module IamRuby
  class ResourceActionManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an action
    # Create an action
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param create_action_request [CreateActionRequest] Payload to create action
    # @param [Hash] opts the optional parameters
    # @return [Action]
    def create_action(organization_id, resource_name, create_action_request, opts = {})
      data, _status_code, _headers = create_action_with_http_info(organization_id, resource_name, create_action_request, opts)
      data
    end

    # Create an action
    # Create an action
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param create_action_request [CreateActionRequest] Payload to create action
    # @param [Hash] opts the optional parameters
    # @return [Array<(Action, Integer, Hash)>] Action data, response status code and response headers
    def create_action_with_http_info(organization_id, resource_name, create_action_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceActionManagementApi.create_action ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ResourceActionManagementApi.create_action"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling ResourceActionManagementApi.create_action, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling ResourceActionManagementApi.create_action, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourceActionManagementApi.create_action"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "resource_name" when calling ResourceActionManagementApi.create_action, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ResourceActionManagementApi.create_action, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_action_request' is set
      if @api_client.config.client_side_validation && create_action_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_action_request' when calling ResourceActionManagementApi.create_action"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/resources/{resource_name}/actions'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'resource_name' + '}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_action_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Action'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ResourceActionManagementApi.create_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceActionManagementApi#create_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an action
    # Delete an action
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param action_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [BaseSuccessResponse]
    def delete_action(organization_id, resource_name, action_name, opts = {})
      data, _status_code, _headers = delete_action_with_http_info(organization_id, resource_name, action_name, opts)
      data
    end

    # Delete an action
    # Delete an action
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param action_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseSuccessResponse, Integer, Hash)>] BaseSuccessResponse data, response status code and response headers
    def delete_action_with_http_info(organization_id, resource_name, action_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceActionManagementApi.delete_action ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ResourceActionManagementApi.delete_action"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling ResourceActionManagementApi.delete_action, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling ResourceActionManagementApi.delete_action, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourceActionManagementApi.delete_action"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "resource_name" when calling ResourceActionManagementApi.delete_action, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ResourceActionManagementApi.delete_action, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'action_name' is set
      if @api_client.config.client_side_validation && action_name.nil?
        fail ArgumentError, "Missing the required parameter 'action_name' when calling ResourceActionManagementApi.delete_action"
      end
      if @api_client.config.client_side_validation && action_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "action_name" when calling ResourceActionManagementApi.delete_action, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && action_name !~ pattern
        fail ArgumentError, "invalid value for 'action_name' when calling ResourceActionManagementApi.delete_action, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/organizations/{organization_id}/resources/{resource_name}/actions/{action_name}'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'resource_name' + '}', CGI.escape(resource_name.to_s)).sub('{' + 'action_name' + '}', CGI.escape(action_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BaseSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ResourceActionManagementApi.delete_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceActionManagementApi#delete_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an action
    # Get an action
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param action_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Action]
    def get_action(organization_id, resource_name, action_name, opts = {})
      data, _status_code, _headers = get_action_with_http_info(organization_id, resource_name, action_name, opts)
      data
    end

    # Get an action
    # Get an action
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param action_name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Action, Integer, Hash)>] Action data, response status code and response headers
    def get_action_with_http_info(organization_id, resource_name, action_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceActionManagementApi.get_action ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ResourceActionManagementApi.get_action"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling ResourceActionManagementApi.get_action, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling ResourceActionManagementApi.get_action, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourceActionManagementApi.get_action"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "resource_name" when calling ResourceActionManagementApi.get_action, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ResourceActionManagementApi.get_action, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'action_name' is set
      if @api_client.config.client_side_validation && action_name.nil?
        fail ArgumentError, "Missing the required parameter 'action_name' when calling ResourceActionManagementApi.get_action"
      end
      if @api_client.config.client_side_validation && action_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "action_name" when calling ResourceActionManagementApi.get_action, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && action_name !~ pattern
        fail ArgumentError, "invalid value for 'action_name' when calling ResourceActionManagementApi.get_action, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/organizations/{organization_id}/resources/{resource_name}/actions/{action_name}'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'resource_name' + '}', CGI.escape(resource_name.to_s)).sub('{' + 'action_name' + '}', CGI.escape(action_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Action'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ResourceActionManagementApi.get_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceActionManagementApi#get_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List actions
    # List actions
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_token 
    # @option opts [String] :page_size 
    # @option opts [String] :sort_order 
    # @return [ActionPaginatedResponse]
    def list_actions(organization_id, resource_name, opts = {})
      data, _status_code, _headers = list_actions_with_http_info(organization_id, resource_name, opts)
      data
    end

    # List actions
    # List actions
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_token 
    # @option opts [String] :page_size 
    # @option opts [String] :sort_order 
    # @return [Array<(ActionPaginatedResponse, Integer, Hash)>] ActionPaginatedResponse data, response status code and response headers
    def list_actions_with_http_info(organization_id, resource_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceActionManagementApi.list_actions ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ResourceActionManagementApi.list_actions"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling ResourceActionManagementApi.list_actions, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling ResourceActionManagementApi.list_actions, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourceActionManagementApi.list_actions"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "resource_name" when calling ResourceActionManagementApi.list_actions, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ResourceActionManagementApi.list_actions, must conform to the pattern #{pattern}."
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/resources/{resource_name}/actions'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'resource_name' + '}', CGI.escape(resource_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'nextToken'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActionPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ResourceActionManagementApi.list_actions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceActionManagementApi#list_actions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an action
    # Update an action
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param action_name [String] 
    # @param update_action_request [UpdateActionRequest] Payload to update action
    # @param [Hash] opts the optional parameters
    # @return [Action]
    def update_action(organization_id, resource_name, action_name, update_action_request, opts = {})
      data, _status_code, _headers = update_action_with_http_info(organization_id, resource_name, action_name, update_action_request, opts)
      data
    end

    # Update an action
    # Update an action
    # @param organization_id [String] 
    # @param resource_name [String] 
    # @param action_name [String] 
    # @param update_action_request [UpdateActionRequest] Payload to update action
    # @param [Hash] opts the optional parameters
    # @return [Array<(Action, Integer, Hash)>] Action data, response status code and response headers
    def update_action_with_http_info(organization_id, resource_name, action_name, update_action_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceActionManagementApi.update_action ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling ResourceActionManagementApi.update_action"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling ResourceActionManagementApi.update_action, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling ResourceActionManagementApi.update_action, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'resource_name' is set
      if @api_client.config.client_side_validation && resource_name.nil?
        fail ArgumentError, "Missing the required parameter 'resource_name' when calling ResourceActionManagementApi.update_action"
      end
      if @api_client.config.client_side_validation && resource_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "resource_name" when calling ResourceActionManagementApi.update_action, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && resource_name !~ pattern
        fail ArgumentError, "invalid value for 'resource_name' when calling ResourceActionManagementApi.update_action, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'action_name' is set
      if @api_client.config.client_side_validation && action_name.nil?
        fail ArgumentError, "Missing the required parameter 'action_name' when calling ResourceActionManagementApi.update_action"
      end
      if @api_client.config.client_side_validation && action_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "action_name" when calling ResourceActionManagementApi.update_action, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && action_name !~ pattern
        fail ArgumentError, "invalid value for 'action_name' when calling ResourceActionManagementApi.update_action, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_action_request' is set
      if @api_client.config.client_side_validation && update_action_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_action_request' when calling ResourceActionManagementApi.update_action"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/resources/{resource_name}/actions/{action_name}'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'resource_name' + '}', CGI.escape(resource_name.to_s)).sub('{' + 'action_name' + '}', CGI.escape(action_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_action_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Action'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ResourceActionManagementApi.update_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceActionManagementApi#update_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
