=begin
#Hypto IAM

#APIs for Hypto IAM Service.

The version of the OpenAPI document: 1.0.0
Contact: engineering@hypto.in
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module IamRuby
  class UserPolicyManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Attach policies to user
    # Attach policies to user
    # @param user_name [String] 
    # @param organization_id [String] 
    # @param policy_association_request [PolicyAssociationRequest] Payload to attach / detach a policy to a user / resource
    # @param [Hash] opts the optional parameters
    # @return [BaseSuccessResponse]
    def attach_policies(user_name, organization_id, policy_association_request, opts = {})
      data, _status_code, _headers = attach_policies_with_http_info(user_name, organization_id, policy_association_request, opts)
      data
    end

    # Attach policies to user
    # Attach policies to user
    # @param user_name [String] 
    # @param organization_id [String] 
    # @param policy_association_request [PolicyAssociationRequest] Payload to attach / detach a policy to a user / resource
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseSuccessResponse, Integer, Hash)>] BaseSuccessResponse data, response status code and response headers
    def attach_policies_with_http_info(user_name, organization_id, policy_association_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserPolicyManagementApi.attach_policies ...'
      end
      # verify the required parameter 'user_name' is set
      if @api_client.config.client_side_validation && user_name.nil?
        fail ArgumentError, "Missing the required parameter 'user_name' when calling UserPolicyManagementApi.attach_policies"
      end
      if @api_client.config.client_side_validation && user_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "user_name" when calling UserPolicyManagementApi.attach_policies, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && user_name !~ pattern
        fail ArgumentError, "invalid value for 'user_name' when calling UserPolicyManagementApi.attach_policies, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling UserPolicyManagementApi.attach_policies"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling UserPolicyManagementApi.attach_policies, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling UserPolicyManagementApi.attach_policies, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'policy_association_request' is set
      if @api_client.config.client_side_validation && policy_association_request.nil?
        fail ArgumentError, "Missing the required parameter 'policy_association_request' when calling UserPolicyManagementApi.attach_policies"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/users/{user_name}/attach_policies'.sub('{' + 'user_name' + '}', CGI.escape(user_name.to_s)).sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_association_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BaseSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UserPolicyManagementApi.attach_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserPolicyManagementApi#attach_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detach policies from user
    # Detach policies from user
    # @param user_name [String] 
    # @param organization_id [String] 
    # @param policy_association_request [PolicyAssociationRequest] Payload to attach / detach a policy to a user / resource
    # @param [Hash] opts the optional parameters
    # @return [BaseSuccessResponse]
    def detach_policies(user_name, organization_id, policy_association_request, opts = {})
      data, _status_code, _headers = detach_policies_with_http_info(user_name, organization_id, policy_association_request, opts)
      data
    end

    # Detach policies from user
    # Detach policies from user
    # @param user_name [String] 
    # @param organization_id [String] 
    # @param policy_association_request [PolicyAssociationRequest] Payload to attach / detach a policy to a user / resource
    # @param [Hash] opts the optional parameters
    # @return [Array<(BaseSuccessResponse, Integer, Hash)>] BaseSuccessResponse data, response status code and response headers
    def detach_policies_with_http_info(user_name, organization_id, policy_association_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserPolicyManagementApi.detach_policies ...'
      end
      # verify the required parameter 'user_name' is set
      if @api_client.config.client_side_validation && user_name.nil?
        fail ArgumentError, "Missing the required parameter 'user_name' when calling UserPolicyManagementApi.detach_policies"
      end
      if @api_client.config.client_side_validation && user_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "user_name" when calling UserPolicyManagementApi.detach_policies, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && user_name !~ pattern
        fail ArgumentError, "invalid value for 'user_name' when calling UserPolicyManagementApi.detach_policies, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling UserPolicyManagementApi.detach_policies"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling UserPolicyManagementApi.detach_policies, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling UserPolicyManagementApi.detach_policies, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'policy_association_request' is set
      if @api_client.config.client_side_validation && policy_association_request.nil?
        fail ArgumentError, "Missing the required parameter 'policy_association_request' when calling UserPolicyManagementApi.detach_policies"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/users/{user_name}/detach_policies'.sub('{' + 'user_name' + '}', CGI.escape(user_name.to_s)).sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_association_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BaseSuccessResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UserPolicyManagementApi.detach_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserPolicyManagementApi#detach_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all policies associated with user
    # List all policies associated with user
    # @param user_name [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_token 
    # @option opts [String] :page_size 
    # @option opts [String] :sort_order 
    # @return [PolicyPaginatedResponse]
    def get_user_policies(user_name, organization_id, opts = {})
      data, _status_code, _headers = get_user_policies_with_http_info(user_name, organization_id, opts)
      data
    end

    # List all policies associated with user
    # List all policies associated with user
    # @param user_name [String] 
    # @param organization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_token 
    # @option opts [String] :page_size 
    # @option opts [String] :sort_order 
    # @return [Array<(PolicyPaginatedResponse, Integer, Hash)>] PolicyPaginatedResponse data, response status code and response headers
    def get_user_policies_with_http_info(user_name, organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserPolicyManagementApi.get_user_policies ...'
      end
      # verify the required parameter 'user_name' is set
      if @api_client.config.client_side_validation && user_name.nil?
        fail ArgumentError, "Missing the required parameter 'user_name' when calling UserPolicyManagementApi.get_user_policies"
      end
      if @api_client.config.client_side_validation && user_name.to_s.length > 50
        fail ArgumentError, 'invalid value for "user_name" when calling UserPolicyManagementApi.get_user_policies, the character length must be smaller than or equal to 50.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9_]{3,50}$/)
      if @api_client.config.client_side_validation && user_name !~ pattern
        fail ArgumentError, "invalid value for 'user_name' when calling UserPolicyManagementApi.get_user_policies, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling UserPolicyManagementApi.get_user_policies"
      end
      if @api_client.config.client_side_validation && organization_id.to_s.length > 10
        fail ArgumentError, 'invalid value for "organization_id" when calling UserPolicyManagementApi.get_user_policies, the character length must be smaller than or equal to 10.'
      end

      pattern = Regexp.new(/^[A-Z]{10}$/)
      if @api_client.config.client_side_validation && organization_id !~ pattern
        fail ArgumentError, "invalid value for 'organization_id' when calling UserPolicyManagementApi.get_user_policies, must conform to the pattern #{pattern}."
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/users/{user_name}/policies'.sub('{' + 'user_name' + '}', CGI.escape(user_name.to_s)).sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'nextToken'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyPaginatedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"UserPolicyManagementApi.get_user_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserPolicyManagementApi#get_user_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
